body {
  font-family: 'Georgia', sans-serif;
  font-weight: 100;
  text-align: center;
  background-image: url('http://cdn.wallpapersafari.com/33/99/ZbUHkE.jpg');

}
p {
  color: white;
}
header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: 100%flex;
  align-items:50% center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: 30% flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  align-items: center;
  background-size:100%
  color: green;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}


